<nav>
    <div class="boxNav">
        <div class="leftSide">
            <div class="logo-icon">
                <span class="material-symbols-outlined">local_hospital</span>
            </div>
            <a href="/" class="logo-text">MedTicket</a>
        </div>
        <div class="rightSide">
            <a href="/">Home</a>
            <a href="">Status zgłoszenia</a>
            <a href="/login">Logowanie Administracji</a>
        </div>
    </div>
</nav>