@use "colors" as *;
@import "reset";

body {
    font-family: "Inter", sans-serif;

}

body {
    height: 40vh;
    background-color: #f5f7f8;
}

.sectionError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 1em;
    text-align: center;

    .errorPage {



        h1 {
            font-size: 9rem;
            font-weight: 900;
            color: #deeaf6;
        }

        .contentErrorMessage {
            margin: 1em;
        }

        .btn-errorPage {
            padding: 1em 3em;
            border-radius: .6em;
            margin: .7em;
            border: none;
            background-color: #0f7ff0;
            cursor: pointer;
        }

        .secend {
            background-color: white;

            a {
                color: black;
            }
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}