@use "./colors" as *;
@use "./reset";
@use "./dashboard.scss";
@use "./errorStyle.scss";
@use "./footerAndHeader.scss";
@use "./formTicket.scss";
@use "./loginStyle.scss";
@use "./thankYouStyle.scss";
@use "./nav/nav.scss";
@use "./layouts-styles/dashboardStyle.scss";