@use "colors" as *;
@use "./reset";

body {
    height: 100vh;
}

.thankYou {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .iconCheck {
        position: relative;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        margin: 5em;
        background-color: #16a34a;

        svg {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            scale: .7;
        }
    }

    .iconCheck::after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 5em;
        height: 5em;
        z-index: -1;
        background-color: #dcfce7;
    }

    .textConten {
        text-align: center;
        max-width: 40%;





        p {
            color: #63778c;
            margin: 2em 0;
        }
    }

    .ticketBox {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 40%;
        height: 10em;
        padding: 1em;
        border-radius: 1.2em;

        color: white;
        font-size: 1.6rem;
        background-color: #1a75ee;
        overflow: hidden;



        p {
            margin-top: .5em;
        }

        .firstText {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: .5em;

            svg {
                scale: .9;
            }
        }

        .ticketId {
            font-size: 3rem;
            font-weight: bold;
        }

        .rightSide {
            button {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: .5em;
                padding: .5em 1.2em;
                color: #1a75ee;
                border-radius: .8em;
                border: none;
                background-color: white;
                transition: background .2s;

            }

            button:hover {
                background-color: rgba(255, 255, 255, 0.872);
            }




        }


    }

    .textDesc {
        width: 40%;
        text-align: center;
        margin-bottom: 2em;
        line-height: 1.5em;
        color: black;
        margin-top: 2em;

    }

    .groupBtn {
        button {
            padding: 1em 2em;
            margin: 0 1em;
            border-radius: 8px;
            border: none;
            background-color: #1a75ee;
            color: white;
            cursor: pointer;
            font-size: 1.6rem;

            a {
                text-decoration: none;
                color: black;
            }
        }

        .firstBtn {
            font-weight: bold;
            transition: background .2s;
        }

        .firstBtn:hover {
            background-color: #1a76eede;
            transition: background .2s;

        }

        .secendBtn {
            background-color: white;
            color: black;
            border: 1px solid #e6eaed;
        }

        .secendBtn:hover {
            background-color: rgba(236, 235, 235, 0.9);
        }

    }

    .btnPrintPage {
        display: flex;
        align-items: center;
        background-color: transparent;
        gap: .5em;
        margin: 2em 0;
        padding: 1em;
        border: none;
        cursor: pointer;
        font-size: 1.6rem;
        text-align: center;
        color: #1a75ee;
    }
}