<section class="sectionError">
    <div class="errorPage">
        <h1>403</h1>
        <div class="contentErrorMessage">
            <h2>Brak dostępu</h2>
            <p>Próbujesz uzyskać dostęp do zasobu, który wymaga wyższych uprawnień administracyjnych. Ta sekcja jest
                przeznaczona wyłącznie dla upoważnionego personelu medycznego lub administratorów IT.</p>
        </div>
        <button class="btn-errorPage"><a href="/">Wróć do strony gównej</a></button>
        <button class="btn-errorPage"><a href="mailto:przykladowy-mail@dd.pl">Zgłoś problem</a></button>
    </div>


</section>