<section class="sectionError">
    <div class="errorPage">
        <div class="leftSide">
            <img src=""" alt=" fotografia błędu">
        </div>
        <div class="rightSide">
            <h1>403</h1>
            <div class="contentErrorMessage">
                <h2>Brak dostępu</h2>
                <p>Próbujesz uzyskać dostęp do zasobu, który wymaga wyższych uprawnień administracyjnych. Ta sekcja jest
                    przeznaczona wyłącznie dla upoważnionego personelu medycznego lub administratorów IT.</p>
            </div>
        </div>
    </div>

</section>