<section class="sectionError">
    <div class="errorPage">
        <div class="leftSide">
            <img src=""" alt=" fotografia błędu">
        </div>
        <div class="rightSide">
            <h1>404</h1>
            <div class="contentErrorMessage">
                <h2>Ups, zgubiliśmy strone.</h2>
                <p>Wygląda na to, że adres, którego szukasz, nie jest przypisany do żadnego zasobu w systemie MedTicket.
                    Być może strona została przeniesiona lub usunięta.</p>
            </div>
        </div>
    </div>

</section>