<section class="sectionError">
    <div class="errorPage">
        <h1>404</h1>
        <div class="contentErrorMessage">
            <h2>Ups, zgubiliśmy strone.</h2>
            <p>Wygląda na to, że adres, którego szukasz, nie jest przypisany do żadnego zasobu w systemie MedTicket.
                Być może strona została przeniesiona lub usunięta.</p>
        </div>
        <button class="btn-errorPage first"><a href="/">Wróć do strony gównej</a></button>
        <button class="btn-errorPage secend"><a href="mailto:przykladowy-mail@dd.pl">Zgłoś problem</a></button>
    </div>


</section>