<main class="dashboard__main">
    <section class="status">
        <div class="status__newTickets"></div>
        <div class="status__inProgres"></div>
        <div class="status__critic"></div>
        <div class="status__done"></div>
    </section>
</main>