<section class="dashboard-section">
    <div class="dashboard-section__text">
        <h1 class="dashboard-sections__title">Pulpit Nawigacyjny</h1>
        <p class="dashboard-sections__description">Przegląd bieżących zgłoszeń i statystyk systemowych</p>
    </div>

    <div class="dashboard-section__status">
        <div class="dashboard-section__box">
            <div class="dashboard-section__top">
                <p>Nowe zgłoszenia</p> <span><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path
                            d="M480-160v-80h120l180-240-180-240H160v200H80v-200q0-33 23.5-56.5T160-800h440q19 0 36 8.5t28 23.5l216 288-216 288q-11 15-28 23.5t-36 8.5H480Zm-10-320ZM200-120v-120H80v-80h120v-120h80v120h120v80H280v120h-80Z" />
                    </svg></span>
            </div>
            <div class="dashboard-section__bottom"><span>1</span></div>
        </div>
        <div class="dashboard-section__box">
            <div class="dashboard-section__top">
                <p>W toku</p> <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                        width="24px" fill="#e3e3e3">
                        <path
                            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z" />
                    </svg></span>
            </div>
            <div class="dashboard-section__bottom"><span>1</span></div>
        </div>
        <div class="dashboard-section__box">
            <div class="dashboard-section__top">
                <p>Zgłoszenia krytyczne</p> <span><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                        <path d="M440-400v-360h80v360h-80Zm0 200v-80h80v80h-80Z" />
                    </svg></span>
            </div>
            <div class="dashboard-section__bottom"><span>1</span></div>
        </div>
        <div class="dashboard-section__box">
            <div class="dashboard-section__top">
                <p>Rozwiązane dzisiaj</p> <span><svg xmlns="http://www.w3.org/2000/svg" height="24px"
                        viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
                        <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
                    </svg></span>
            </div>
            <div class="dashboard-section__bottom"><span>1</span></div>
        </div>
    </div>

</section>