<section class="company-sections">
    <h1 class="company-sections__title">Wybierz dział</h1>
    <p class="company-sections__description">
        Witaj w systemie zgłoszeń MedTicket. Aby kontynuować pracę,
        wybierz odpowiedni dział ze struktury szpitala poniżej.
    </p>

    <div class="company-sections__container">
        <div class="company-sections__link company-sections__link--it"><a href="/dashboard/it">Dział IT</a>img</div>
        <!-- <div class="company-sections__link company-sections__link--electric"><a href="/dashboard/elektryczny">Dział
                Elektryczny</a></div>
        <div class="company-sections__link company-sections__link--medical"><a
                href="/dashboard/aparatura-medyczna">Dział
                Aparatury Medycznej</a>
        </div>
        <div class="company-sections__link company-sections__link--construction"><a href="/dashboard/budowlany">Dział
                Budowlany</a>
        </div>
        <div class="company-sections__link company-sections__link--cyber"><a
                href="/dashboard/cyberbezpieczenstwo">Cyberbezpieczeństwa</a>
        </div> -->



</section>






<button onclick="history.back()">Go Back</button>