<section class="company-sections">


        <div class="company-section__text">
                <h1 class="company-sections__title">Wybierz dział</h1>
                <p class="company-sections__description">
                        Witaj w systemie zgłoszeń MedTicket. Aby kontynuować pracę,
                        wybierz odpowiedni dział ze struktury szpitala poniżej.
                </p>
        </div>

        <div class="company-sections__container">
                <a class="company-sections__link company-sections__link--it" href=" /dashboard/it">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#e3e3e3">
                                        <path
                                                d="M120-80v-280h120v-160h200v-80H320v-280h320v280H520v80h200v160h120v280H520v-280h120v-80H320v80h120v280H120Zm280-600h160v-120H400v120ZM200-160h160v-120H200v120Zm400 0h160v-120H600v120ZM480-680ZM360-280Zm240 0Z" />
                                </svg></span>
                        <p>Dział IT</p>
                </a>


                <a class="company-sections__link company-sections__link--electric"" href=" /dashboard/electrical">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#f9cb15">
                                        <path
                                                d="m280-80 160-300-320-40 480-460h80L520-580l320 40L360-80h-80Zm222-247 161-154-269-34 63-117-160 154 268 33-63 118Zm-22-153Z" />
                                </svg></span>
                        <p>Dział Elektryczny</p>
                </a>

                <a class="company-sections__link company-sections__link--medical" href=" /dashboard/medical">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#f87171">
                                        <path
                                                d="M280-240h80v-80h80v-80h-80v-80h-80v80h-80v80h80v80Zm240-140h240v-60H520v60Zm0 120h160v-60H520v60ZM160-80q-33 0-56.5-23.5T80-160v-440q0-33 23.5-56.5T160-680h200v-120q0-33 23.5-56.5T440-880h80q33 0 56.5 23.5T600-800v120h200q33 0 56.5 23.5T880-600v440q0 33-23.5 56.5T800-80H160Zm0-80h640v-440H600q0 33-23.5 56.5T520-520h-80q-33 0-56.5-23.5T360-600H160v440Zm280-440h80v-200h-80v200Zm40 220Z" />
                                </svg></span>
                        <p>Dział Aparatury Medycznej</p>
                </a>


                <a class="company-sections__link company-sections__link--construction" href="/dashboard/construction">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#de8335">
                                        <path
                                                d="M756-120 537-339l84-84 219 219-84 84Zm-552 0-84-84 276-276-68-68-28 28-51-51v82l-28 28-121-121 28-28h82l-50-50 142-142q20-20 43-29t47-9q24 0 47 9t43 29l-92 92 50 50-28 28 68 68 90-90q-4-11-6.5-23t-2.5-24q0-59 40.5-99.5T701-841q15 0 28.5 3t27.5 9l-99 99 72 72 99-99q7 14 9.5 27.5T841-701q0 59-40.5 99.5T701-561q-12 0-24-2t-23-7L204-120Z" />
                                </svg></span>
                        <p>Dział
                                Budowlany</p>
                </a>

                <a class="company-sections__link company-sections__link--cyber" href="/dashboard/cybersecurity">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960"
                                        width="24px" fill="#34d399">
                                        <path
                                                d="M480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q97-30 162-118.5T718-480H480v-315l-240 90v207q0 7 2 18h238v316Z" />
                                </svg></span>
                        <p>Cyberbezpieczeństwa</p>
                </a>
</section>