<section class="company-sections">


        <div class="company-section__text">
                <h1 class="company-sections__title">Wybierz dział</h1>


                <p class="company-sections__description">
                        Witaj w systemie zgłoszeń MedTicket. Aby kontynuować pracę,
                        wybierz odpowiedni dział ze struktury szpitala poniżej.
                </p>
        </div>

        <div class="company-sections__container">

                <a class="company-sections__link company-sections__link--it" href=" /dashboard/it">Dział IT

                </a>


                <a class="company-sections__link company-sections__link--electric"" href=" /dashboard/elektryczny">Dział
                        Elektryczny</a>

                <a class="company-sections__link company-sections__link--medical""
                        href=" /dashboard/aparatura-medyczna">Dział
                        Aparatury Medycznej</a>


                <a class="company-sections__link company-sections__link--construction" href="/dashboard/budowlany">Dział
                        Budowlany</a>

                <a class="company-sections__link company-sections__link--cyber"
                        href="/dashboard/cyberbezpieczenstwo">Cyberbezpieczeństwa</a>





</section>






<button onclick="history.back()">Go Back</button>