@use "../colors" as *;
@use "../reset";

body {
    font-size: 1.6rem;
}

section.status {
    width: 100%;
    height: 20vh;
    padding: 1em;

    display: flex;
}

.status div {
    width: 25%;
    margin-right: .5em;
    height: 100%;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg);
}

.status div.status__done {
    margin-right: 0;
}