<body>

   

    <header>
        <h1>Zgłoś problem</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta architecto dicta sit deserunt at natus
            repellendus exercitationem? Labore, officiis amet!</span>
    </header>

    <section class="sectionForum">

        <form action="/send.html">

            <div class="userData">
                <label for="">
                    <p>Imie i Nazwisko</p>
                    <input type="text">
                </label>
                <label for="">
                    <p>Numer wewnętrzny</p>
                    <input type="number">
                </label>
                <label for="">
                    <p>Miejsce zdarzenia</p>
                    <select name="" id="">
                        <option disabled="" selected="" value="">Wybierz dział</option>
                        <option value="it">Wsparcie IT (Komputery, Sieć)</option>
                        <option value="medical">Sprzęt Medyczny</option>
                        <option value="facilities">Utrzymanie Czystości / Budynek</option>
                        <option value="access">Karty Dostępu / Ochrona</option>
                        <option value="other">Inne</option>
                    </select>
                </label>
            </div>


            <div class="ticketDestination ">
                <div class="boxDepartament">
                    <p>Dział</p>
                    <div class="select-wrapper">
                        <select name="" id="">
                            <option disabled="" selected="" value="">Wybierz dział</option>
                            <option value="it">Dział informatyki</option>
                            <option value="medical">Aparatura medyczna</option>
                            <option value="facilities">Sekcja elektryczna</option>
                            <option value="access">Dział budowlany</option>
                            <option value="other">Cyberbezpieczenstwo</option>
                        </select>
                    </div>
                </div>

                <div class="boxCategory">
                    <p>Wybierz kategorie</p>
                    <div class="select-wrapper">
                        <select name="" id="">
                            <option disabled="" selected="" value="">Wybierz kategorię</option>
                            <option value="it">Wsparcie IT (Komputery, Sieć)</option>
                            <option value="medical">Sprzęt Medyczny</option>
                            <option value="facilities">Utrzymanie Czystości / Budynek</option>
                            <option value="access">Karty Dostępu / Ochrona</option>
                            <option value="other">Inne</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="boxTicket">
                <label for="">
                    <p>Temat zgłoszenia</p>
                    <input placeholder="np. Awaria drukarki na recepcji SOR" type="text">
                </label>

                <label for="">
                    <p>Opis zgłoszenia</p>
                    <textarea name="" id=""></textarea>
                </label>
            </div>


            <div class="CategoryPriority">
                <div class="toggle">
                    <div class="priority">
                        <p>Priorytet zgłoszenia</p>
                        <div class="toggle-group">
                            <input type="radio" name="priority" id="priority-low" value="low" checked />
                            <label for="priority-low" class="toggle-label first">Niski</label>

                            <input type="radio" name="priority" id="priority-medium" value="medium" />
                            <label for="priority-medium" class="toggle-label second">Średni</label>

                            <input type="radio" name="priority" id="priority-high" value="high" />
                            <label for="priority-high" class="toggle-label third">Wysoki</label>

                            <div class="slider"></div>
                        </div>
                    </div>

                    <div class="repeatability">
                        <p>Powtarzalność</p>
                        <div class="toggle-group">
                            <input type="radio" name="frequency" id="freq-once" value="once" checked />
                            <label for="freq-once" class="toggle-label first">Jednorazowo</label>

                            <input type="radio" name="frequency" id="freq-rare" value="rare" />
                            <label for="freq-rare" class="toggle-label second">Rzadko</label>

                            <input type="radio" name="frequency" id="freq-frequent" value="frequent" />
                            <label for="freq-frequent" class="toggle-label third">Często</label>

                            <div class="slider"></div>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn-submit">
                Wyślij zgłoszenie
            </button>
        </form>

    </section>