<body>


    <header>
        <h1>Zgłoś problem</h1>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta architecto dicta sit deserunt at natus
            repellendus exercitationem? Labore, officiis amet!</span>
    </header>

    <section class="sectionForum">

        <form action="/sendTickets" method="POST">

            <div class="userData">
                <label for="">
                    <p>Imie i Nazwisko</p>
                    <input class="userNameTicket errorMsg" type="text" name="imie_nazwisko">
                </label>
                <label for="">
                    <p>Numer wewnętrzny</p>
                    <input class="nrContactTicket" type="number" name="numer_wewnetrzny">
                </label>

                <label for="placeIncident">
                    <p>Miejsce zdarzenia</p>
                    <select class="placeIncident" name="miejsce_zdarzenia" id="placeIncident">
                        <option disabled selected value="">Wybierz miejsce</option>
                        <option value="oddzial_okulistyki">Oddział Okulistyki</option>
                        <option value="oddzial_chirurgii">Oddział Chirurgii Ogólnej</option>
                        <option value="oddzial_wewnetrzny">Oddział Chorób Wewnętrznych</option>
                        <option value="dyzurka_lekarska">Dyżurka Lekarska</option>
                        <option value="izba_przyjec">Izba Przyjęć</option>
                    </select>
                </label>
            </div>


            <div class="ticketDestination ">
                <div class="boxDepartament">
                    <p>Dział docelowy</p>
                    <div class="select-wrapper">
                        <select class="targetDepartment" name="dzial_docelowy" id="targetDepartment">
                            <option disabled="" selected="" value="">Wybierz dział</option>
                            <option value="it">Dział informatyki</option>
                            <option value="medical_equipment">Aparatura medyczna</option>
                            <option value="electrical">Sekcja elektryczna</option>
                            <option value="construction">Dział budowlany</option>
                            <option value="cybersecurity">Cyberbezpieczenstwo</option>
                        </select>
                    </div>
                </div>

                <div class="boxCategory">
                    <p>Wybierz kategorie</p>
                    <div class="select-wrapper">
                        <select class="ticketCategory" name="kategoria_zgloszenia" id="ticketCategory">
                            <option disabled="" selected="" value="">Wybierz kategorię</option>
                            <option value="serwis">Serwis</option>
                            <option value="drukarki">Drukarki</option>
                            <option value="amms">AMMS</option>
                            <option value="infomedica">Infomedica</option>
                            <option value="aktulizacja">Aktulizacja</option>
                            <option value="przenosiny">Przenosiny</option>
                            <option value="Ris/Pacs">Ris/Pacs</option>
                            <option value="inne">Inne</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="boxTicket">
                <label for="ticketSubject">
                    <p>Temat zgłoszenia</p>
                    <input class="ticketSubject" placeholder="np. Awaria drukarki na recepcji SOR"
                        name="temat_zgloszenia" type="text" maxlength="100">
                    <p> <span class="ticketMaxSub">0</span> / 100</p>
                </label>

                <label for="ticketDesc">
                    <p>Opis zgłoszenia</p>
                    <textarea class="ticketDesc" name="opis_zgloszenia" id="ticketDesc" maxlength="500"></textarea>
                    <span class="ticketMaxDesc">0</span> / 500
                </label>
            </div>

            <div class="CategoryPriority">
                <div class="toggle">
                    <div class="toggle-wrapper priority">
                        <p>Priorytet zgłoszenia</p>
                        <div class="toggle-group">
                            <input type="radio" name="priorytet_zgloszenia" id="priority-low" value="low" checked />
                            <label for="priority-low" class="toggle-label">Niski</label>

                            <input type="radio" name="priorytet_zgloszenia" id="priority-medium" value="medium" />
                            <label for="priority-medium" class="toggle-label">Średni</label>

                            <input type="radio" name="priorytet_zgloszenia" id="priority-high" value="high" />
                            <label for="priority-high" class="toggle-label">Wysoki</label>
                            <div class="slider"></div>
                        </div>
                    </div>

                    <div class="toggle-wrapper repeatability">
                        <p>Powtarzalność</p>
                        <div class="toggle-group">
                            <input type="radio" name="powtarzalnosc" id="freq-once" value="once" checked />
                            <label for="freq-once" class="toggle-label">Jednorazowo</label>

                            <input type="radio" name="powtarzalnosc" id="freq-rare" value="rare" />
                            <label for="freq-rare" class="toggle-label">Rzadko</label>

                            <input type="radio" name="powtarzalnosc" id="freq-frequent" value="frequent" />
                            <label for="freq-frequent" class="toggle-label">Często</label>
                            <div class="slider"></div>
                        </div>
                    </div>

                </div>
            </div>


            <button type="submit" class="btn-submit">
                Wyślij zgłoszenie
            </button>
        </form>

    </section>