<div class="grid_container">
    <div class="grid_item item1">



        <h2>Witaj ponownie!</h2>
        <form action="login.php" method="post" class="login_form">
            <div class="form_group">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" id="username" name="username" placeholder="Wpisz nazwę użytkownika" required
                    autofocus>
            </div>
            <div class="form_group">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password" placeholder="Wpisz hasło" required>
            </div>
            <button class="btn_submit" type="submit">Zaloguj się</button>

            <div class="error-message">

            </div>

        </form>
    </div>
    <div class="grid_item item2">
    </div>

    <div class="infoLoginContainer">
        <p>Logowanie obecnie nie jest dostępne!</p>
    </div>
</div>
</div>